.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}
.title {
  font-size: 4rem;
  margin-bottom: 4rem;
}
.section {
  margin-bottom: 4rem;
}
.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}